 <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
  </head>
  <body text="#08004b" bgcolor="#ebebef">
    <style type="text/css">.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}.tg .tg-k9w8{background-color:#FFFF5C;text-align:center;vertical-align:top}.tg .tg-wm1f{background-color:#4F4F4F;color:#FFF;font-weight:bold;text-align:center;vertical-align:top}.tg .tg-baqh{text-align:center;vertical-align:top}.tg .tg-8co4{background-color:#FDB4B4;text-align:center;vertical-align:top}.tg .tg-a7nt{background-color:#FFFF5C;color:#06C;text-align:center;text-decoration:underline;vertical-align:top}.tg .tg-wvu1{background-color:#FFCB75;text-align:center;vertical-align:top}.tg .tg-5z00{background-color:#628098;color:#FFF;font-weight:bold;text-align:center;vertical-align:top}.tg .tg-4bam{background-color:#628098;color:#06C;text-align:center;text-decoration:underline;vertical-align:top}.tg .tg-1chr{background-color:#628098;color:#FFF;text-align:center;vertical-align:top}.tg .tg-b50e{background-color:#2F363D;color:#FFF;font-weight:bold;position:-webkit-sticky;position:sticky;text-align:center;
  top:-1px;vertical-align:top;will-change:transform}.tg .tg-9ju0{background-color:#DBEBA4;text-align:center;vertical-align:top}.tg .tg-3qwn{background-color:#DBEBA4;color:#06C;text-align:center;text-decoration:underline;vertical-align:top}.tg .tg-0t94{color:#FFF;font-weight:bold;text-align:center;vertical-align:top}.tg .tg-kfb2{background-color:#4F4F4F;color:#06C;font-weight:bold;text-align:center;text-decoration:underline;vertical-align:top}.tg-wm1f a, .tg-kfb2 a { color: FFF }</style>
    <div class="tg-wrap">
      <table class="tg">
        <thead> <tr>
            <th class="tg-b50e">Messenger<br>
              Stand: 08.11.2021</th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e">Discord</th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e">iMessage</th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e">Skype</th>
            <th class="tg-b50e">Telegram</th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e"><br>
            </th>
            <th class="tg-b50e">WhatsApp</th>
            <th class="tg-b50e"><br>
            </th>
          </tr>
        </thead> <tbody>
          <tr>
            <td class="tg-wm1f">Systemunterstützung</td>
            <td class="tg-wm1f" colspan="15"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Android</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">iOS</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Web/Desktop</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8">nur macOS</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-wm1f">Sicherheit &amp; Datenschutz</td>
            <td class="tg-wm1f" colspan="15"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Quelloffen</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8">GPLv2 <br>
              (nur Client)</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Kommt ohne proprietäre <br>
              Bibliotheken aus</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8">ja<br>
              (nur F-Droid Version)</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-8co4"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Verschlüsselungs-<br>
              Protokoll / -Bibliothek</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-3qwn"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">-</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">proprietär,<br>
              Unbekannt</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-3qwn"><br>
            </td>
            <td class="tg-3qwn"><br>
            </td>
            <td class="tg-wvu1">proprietär / <br>
              Signal-Protokoll</td>
            <td class="tg-a7nt"><a href="https://core.telegram.org/mtproto" moz-do-not-send="true">MTProto</a> 2.0</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8">Signal-Protokoll<br>
              (nicht prüfbar)</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Ende-zu-Ende-<br>
              Verschlüsselung</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8">nur Einzelchats (optional)</td>
            <td class="tg-k9w8">nur Einzelchats (optional)</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Lokale <br>
              Nachrichtenverschlüsselung</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Verifikation von <br>
              Kontakten möglich</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8">nur in geheimen Chats (Secret Chat)</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Hinweis, falls sich Kontakt-Fingerprint ändert</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-k9w8">muss aktiviert werden</td>
            <td class="tg-k9w8"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Letzter Sicherheitsaudit</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">—</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8">2016</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">—</td>
            <td class="tg-k9w8">2017</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">—</td>
            <td class="tg-k9w8"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Bindet Tracker ein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">ja</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">ja</td>
            <td class="tg-8co4">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Nutzung ohne <br>
              Telefonnummer möglich</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-k9w8">erforderlich für Registrierung </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein, Weitergabe an Facebook</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Vermeidet / Schützt Metadaten während Nutzung</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-8co4"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Ohne Freigabe der Kontaktliste<br>
              sinnvoll nutzbar</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Werbefrei</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-wm1f">Nachhaltigkeit</td>
            <td class="tg-wm1f" colspan="15"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Zentral / Föderiert / Dezentral</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">zentralisiert</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">zentralisiert</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">zentralisiert</td>
            <td class="tg-8co4">zentralisiert</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">zentralisiert</td>
            <td class="tg-8co4"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Infrastruktur-Hosting</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">Google und <br>
              Cloudflare</td>
            <td class="tg-wvu1"><br>
            </td>
            <td class="tg-8co4">Apple</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">Microsoft</td>
            <td class="tg-8co4">Amazon, Google<br>
              und weitere</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">Facebook</td>
            <td class="tg-8co4"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Client verfügbar seit</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">2015</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">2011</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">2003</td>
            <td class="tg-9ju0">2013</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0">2009</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Transparenz / Finanzierung<br>
              (u. a. Spendengelder)</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">intransparent</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">intransparent</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">intransparent</td>
            <td class="tg-8co4">intransparent</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">intransparent</td>
            <td class="tg-8co4"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Verfügbarkeit</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">Play Store, <br>
              App Store</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">App Store</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">Play Store, <br>
              App Store</td>
            <td class="tg-9ju0">Play Store,<br>
              F-Droid,<br>
              App Store</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8">Webseite, <br>
              Play Store, <br>
              App Store</td>
            <td class="tg-k9w8"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Rechtliche Zuständigkeit</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">USA</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">USA</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">USA</td>
            <td class="tg-8co4">Dubai<br>
              (wechselt)</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">USA</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-wm1f">Funktionen</td>
            <td class="tg-wm1f" colspan="15"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Sprachnachrichten</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Audio-/Videochats</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8">separate App</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Gruppenchats</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Dateiaustausch</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Selbstzerstörende<br>
              Nachrichten</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8">nur in geheimen Chats (Secret Chat)</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Abgleich zwischen <br>
              mehreren Geräten</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja</td>
            <td class="tg-k9w8">nur<br>
              unverschlüsselte <br>
              Chats</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-wm1f">Backup</td>
            <td class="tg-wm1f" colspan="15"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Speicherort</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">lokal und /<br>
              oder Cloud</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">lokal</td>
            <td class="tg-8co4">Cloud<br>
              (außer geheime <br>
              Chats)</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">lokal und Cloud</td>
            <td class="tg-9ju0"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Automatisch</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">—</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">nach Einrichtung<br>
              (nur Cloud)</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8">ja</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0">nach Einrichtung</td>
            <td class="tg-8co4"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Verschlüsselt</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">—</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0">ja (lokal)</td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8">Schlüssel beim<br>
              Anbieter</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-k9w8">Schlüssel beim<br>
              Anbieter</td>
            <td class="tg-k9w8"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-0t94"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
            <td class="tg-baqh"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-kfb2"><a href="https://www.kuketz-blog.de/" moz-do-not-send="true">Kuketz-Blog</a></td>
            <td class="tg-wm1f" colspan="15"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Link zur Rezension</td>
            <td class="tg-4bam"><br>
            </td>
            <td class="tg-4bam"><br>
            </td>
            <td class="tg-4bam"><br>
            </td>
            <td class="tg-1chr">-</td>
            <td class="tg-4bam"><br>
            </td>
            <td class="tg-1chr">-</td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-4bam"><br>
            </td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr">-</td>
            <td class="tg-4bam"><a
                href="https://www.kuketz-blog.de/telegram-sicherheit-gibt-es-nur-auf-anfrage-messenger-teil3/"
                moz-do-not-send="true">Link</a></td>
            <td class="tg-4bam"><br>
            </td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr">-</td>
            <td class="tg-4bam"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Bedienbarkeit / Zielgruppe</td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr">Einsteiger</td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr">Einsteiger</td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr">Einsteiger</td>
            <td class="tg-1chr">Einsteiger</td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr"><br>
            </td>
            <td class="tg-1chr">Einsteiger</td>
            <td class="tg-1chr"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-5z00">Empfehlung</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-8co4">nein</td>
            <td class="tg-9ju0"><br>
            </td>
            <td class="tg-8co4"><br>
            </td>
            <td class="tg-8co4">nein</td>
            <td class="tg-k9w8"><br>
            </td>
          </tr>
          <tr>
            <td class="tg-wm1f" colspan="11">   ➡ Mehr Hintergrundwissen zur Einschätzung/Empfehlung: »<a
                href="https://www.kuketz-blog.de/die-verrueckte-welt-der-messenger-messenger-teil1/"
                moz-do-not-send="true">Die verrückte Welt der Messenger</a>« und »<a
                href="https://www.kuketz-blog.de/messenger-matrix-uebersicht-vergleich-der-aktuellen-messenger/"
                moz-do-not-send="true">Messenger-Matrix</a>«</td>
            <td class="tg-wm1f" colspan="5">Blog: <a href="https://www.kuketz-blog.de/" moz-do-not-send="true">www.kuketz-blog.de</a>
              | Forum: <a href="https://forum.kuketz-blog.de/" moz-do-not-send="true">forum.kuketz-blog.de</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
  </body>
